<p-panel header="Coach Lineup" class="mt-2">

    <div class="row mt-1 mb-1 gx-3 gy-2 align-items-center justify-content-center ">
        <div class="col-sm-1">

        </div>
        <div class="col-sm-2">
            
        </div>
        <div class="col-sm-2">
            <p-card [styleClass]="coachLineup.st1 ? 'active-position' : 'unactive-position'">
                ST
            </p-card>
        </div>
        <div class="col-sm-2">
            <p-card [styleClass]="coachLineup.st2 ? 'active-position' : 'unactive-position'">
                ST
            </p-card>
        </div>
        <div class="col-sm-2">
            <p-card [styleClass]="coachLineup.st3 ? 'active-position' : 'unactive-position'">
                ST
            </p-card>
        </div>
        <div class="col-sm-2">
            
        </div>
        <div class="col-sm-1">

        </div>
    </div>

    <div class="row mt-1 mb-1 gx-3 gy-2 align-items-center justify-content-center ">
        <div class="col-sm-1">
            
        </div>
        <div class="col-sm-2">
            <p-card [styleClass]="coachLineup.lw ? 'active-position' : 'unactive-position'">
                LW 
            </p-card>
        </div>
        <div class="col-sm-2">
            <p-card [styleClass]="coachLineup.cam1 ? 'active-position' : 'unactive-position'">
                CAM
            </p-card>
        </div>
        <div class="col-sm-2">
            <p-card [styleClass]="coachLineup.cam2 ? 'active-position' : 'unactive-position'">
                CAM
            </p-card>
        </div>
        <div class="col-sm-2">
            <p-card [styleClass]="coachLineup.cam3 ? 'active-position' : 'unactive-position'">
                CAM
            </p-card>
        </div>
        <div class="col-sm-2">
            <p-card [styleClass]="coachLineup.rw ? 'active-position' : 'unactive-position'">
                RW
            </p-card>
        </div>
        <div class="col-sm-1">

        </div>
    </div>

    <div class="row mt-1 mb-1 gx-3 gy-2 align-items-center justify-content-center ">
        <div class="col-sm-1">

        </div>
        <div class="col-sm-2">
            <p-card [styleClass]="coachLineup.lm ? 'active-position' : 'unactive-position'">
                LM
            </p-card>
        </div>
        <div class="col-sm-2">
            <p-card [styleClass]="coachLineup.cm1 ? 'active-position' : 'unactive-position'">
                CM
            </p-card>
        </div>
        <div class="col-sm-2">
            <p-card [styleClass]="coachLineup.cm2 ? 'active-position' : 'unactive-position'">
                CM
            </p-card>
        </div>
        <div class="col-sm-2">
            <p-card [styleClass]="coachLineup.cm3 ? 'active-position' : 'unactive-position'">
                CM
            </p-card>
        </div>
        <div class="col-sm-2">
            <p-card [styleClass]="coachLineup.rm ? 'active-position' : 'unactive-position'">
                RM
            </p-card>
        </div>
        <div class="col-sm-1">

        </div>
    </div>

    <div class="row mt-1 mb-1 gx-3 gy-2 align-items-center justify-content-center ">
        <div class="col-sm-1">

        </div>
        <div class="col-sm-2">
            <p-card [styleClass]="coachLineup.lwb ? 'active-position' : 'unactive-position'">
                LWB
            </p-card>
        </div>
        <div class="col-sm-2">
            <p-card [styleClass]="coachLineup.cdm1 ? 'active-position' : 'unactive-position'">
                CDM
            </p-card>
        </div>
        <div class="col-sm-2">
            <p-card [styleClass]="coachLineup.cdm2 ? 'active-position' : 'unactive-position'">
                CDM
            </p-card>
        </div>
        <div class="col-sm-2">
            <p-card [styleClass]="coachLineup.cdm3 ? 'active-position' : 'unactive-position'">
                CDM
            </p-card>
        </div>
        <div class="col-sm-2">
            <p-card [styleClass]="coachLineup.rwb ? 'active-position' : 'unactive-position'">
                RWB
            </p-card>
        </div>
        <div class="col-sm-1">

        </div>
    </div>

    <div class="row mt-1 mb-1 gx-3 gy-2 align-items-center justify-content-center ">
        <div class="col-sm-1">

        </div>
        <div class="col-sm-2">
            <p-card [styleClass]="coachLineup.lb ? 'active-position' : 'unactive-position'">
                LB
            </p-card>
        </div>
        <div class="col-sm-2">
            <p-card [styleClass]="coachLineup.cb1 ? 'active-position' : 'unactive-position'">
                CB
            </p-card>
        </div>
        <div class="col-sm-2">
            <p-card [styleClass]="coachLineup.cb2 ? 'active-position' : 'unactive-position'">
                CB
            </p-card>
        </div>
        <div class="col-sm-2">
            <p-card [styleClass]="coachLineup.cb3 ? 'active-position' : 'unactive-position'">
                CB
            </p-card>
        </div>
        <div class="col-sm-2">
            <p-card [styleClass]="coachLineup.rb ? 'active-position' : 'unactive-position'">
                RB
            </p-card>
        </div>
        <div class="col-sm-1">

        </div>
    </div>

    <div class="row mt-1 mb-1 gx-3 gy-2 align-items-center justify-content-center ">
        <div class="col-sm-1">

        </div>
        @for (i of [1, 2]; track $index) {
            <div class="col-sm-2">
                
            </div>
        }
        <div class="col-sm-2">
            <p-card [styleClass]="coachLineup.gk ? 'active-position' : 'unactive-position'">
                GK
            </p-card>
        </div>
        @for (i of [1, 2]; track $index) {
            <div class="col-sm-2">
                
            </div>
        }
        <div class="col-sm-1">

        </div>
    </div>
</p-panel>