<form [formGroup]="updateCoachForm" (ngSubmit)="validUpdateCoachForm()">

  <p-card>

    <div class="row mt-1 mb-1 gx-3 gy-2 align-items-center justify-content-center ">

      <div class="col-sm-9">
        <h5 #title> Update Coach </h5>
      </div>

      <div class="col-sm-3 d-flex justify-content-end">
        <p-button label="Update Coach" type="submit" variant="outlined" [raised]="true" severity="success" />
      </div>

    </div>

    <div class="row mt-1 gx-3 gy-2 align-items-top justify-content-center ">
      <div class="col-sm-6">
        <p-card>
          <h5> Personal Information </h5>
          <p-inputgroup class="mt-1">
            <p-inputgroup-addon>
                <i class="pi pi-user"></i>
            </p-inputgroup-addon>
          <input pInputText placeholder="First Name" formControlName="coachFirstName" />
          <input pInputText placeholder="Last Name" formControlName="coachLastname" />
          </p-inputgroup>
          @if (updateCoachForm.get('coachFirstName')?.invalid && updateCoachForm.get('coachFirstName')?.touched) {
            <small class="text-danger">First name is required.</small>
            <br />
          }
          @if (updateCoachForm.get('coachLastname')?.invalid && updateCoachForm.get('coachLastname')?.touched) {
            <small class="text-danger">Last name is required.</small>
          }
          <p-inputgroup class="mt-1">
          <p-inputgroup-addon>
              <i class="pi pi-calendar"></i>
          </p-inputgroup-addon>
            <p-datepicker placeholder="Birth Date" dateFormat="dd.mm.yy" formControlName="coachBirthDate" fluid/>
          </p-inputgroup>
          @if(updateCoachForm.get('coachBirthDate')?.invalid && updateCoachForm.get('coachBirthDate')?.touched) {
            <small class="text-danger">Birth date is required.</small>
          }
          <p-inputgroup class="mt-1">
              <p-inputgroup-addon>
                  <i class="pi pi-flag"></i>
              </p-inputgroup-addon>
            <input pInputText placeholder="Nationality" formControlName="coachNationality" />
          </p-inputgroup>
          @if(updateCoachForm.get('coachNationality')?.invalid && updateCoachForm.get('coachNationality')?.touched) {
            <small class="text-danger">Nationality is required.</small>
          }
        </p-card>
      </div>

      <div class="col-sm-6">
        <p-card>
          <h5> Coach Information </h5>
          <p-inputgroup class="mt-1">
            <p-inputgroup-addon>
              <i class="pi pi-star"></i>
            </p-inputgroup-addon>
            <input pInputText type="number" placeholder="defence" inputId="integeronly" formControlName="coachDefence" />
            <input pInputText type="number" placeholder="midfield" inputId="integeronly" formControlName="coachMidfield" />
            <input pInputText type="number" placeholder="attack" inputId="integeronly" formControlName="coachAttack" />
          </p-inputgroup>
          @if(updateCoachForm.get('coachDefence')?.invalid && updateCoachForm.get('coachDefence')?.touched) {
            @if(updateCoachForm.get('coachDefence')?.errors?.['required']) {
              <small class="text-danger">Defence rating is required.</small>
            }
            @if(updateCoachForm.get('coachDefence')?.errors?.['min'] || updateCoachForm.get('coachDefence')?.errors?.['max']) {
              <small class="text-danger">Defence rating must be between 1 and 99.</small>
            }
          }
          @if(updateCoachForm.get('coachMidfield')?.invalid && updateCoachForm.get('coachMidfield')?.touched) {
            @if(updateCoachForm.get('coachMidfield')?.errors?.['required']) {
              <small class="text-danger">Midfield rating is required.</small>
            }
            @if(updateCoachForm.get('coachMidfield')?.errors?.['min'] || updateCoachForm.get('coachMidfield')?.errors?.['max']) {
              <small class="text-danger">Midfield rating must be between 1 and 99.</small>
              <br />
              
            }
            @if(updateCoachForm.get('coachDefence')?.errors?.['min'] || updateCoachForm.get('coachDefence')?.errors?.['max']) {
              <small class="text-danger">Defence rating must be between 1 and 99.</small>
              <br />
            }
          }
          @if(updateCoachForm.get('coachAttack')?.invalid && updateCoachForm.get('coachAttack')?.touched) {
            @if(updateCoachForm.get('coachAttack')?.errors?.['required']) {
              <small class="text-danger">Attack rating is required.</small>
            }
            @if(updateCoachForm.get('coachAttack')?.errors?.['min'] || updateCoachForm.get('coachAttack')?.errors?.['max']) {
              <small class="text-danger">Attack rating must be between 1 and 99.</small>
              <br />
            }
          }
          @if(updateCoachForm.get('coachAttack')?.invalid && updateCoachForm.get('coachAttack')?.touched) {
            @if(updateCoachForm.get('coachAttack')?.errors?.['required']) {
              <small class="text-danger">Attack rating is required.</small>
            }
            @if(updateCoachForm.get('coachAttack')?.errors?.['min'] || updateCoachForm.get('coachAttack')?.errors?.['max']) {
              <small class="text-danger">Attack rating must be between 1 and 99.</small>
            }
          }

          <p-inputgroup class="mt-1">
            <p-inputgroup-addon>
                <i class="pi pi-user"></i>
            </p-inputgroup-addon>
            <div class="flex justify-center">
                <p-select [options]="midfieldStyles" formControlName="coachMidfieldStyle" optionLabel="label" optionValue="value" placeholder="Midfield Style" class="w-full md:w-56" />
            </div>
          </p-inputgroup>
          <p-inputgroup class="mt-1">
            <p-inputgroup-addon>
                <i class="pi pi-user"></i>
            </p-inputgroup-addon>
            <div class="flex justify-center">
                <p-select [options]="balanceStyles" formControlName="coachBalanceStyle" optionLabel="label" optionValue="value" placeholder="Balance Style" class="w-full md:w-56" />
            </div>
          </p-inputgroup>
          
          <coach-lineup-form [coachLineup]="coachLineup" ></coach-lineup-form>
        </p-card>
      </div>
    </div>
  </p-card>
</form>
