<form [formGroup]="addCoachLineupForm" (ngSubmit)="$event.preventDefault(); newCoachLineup()">
    <p-panel header="Coach Lineup" class="mt-2">

        <div class="row mt-1 mb-1 gx-3 gy-2 align-items-center justify-content-center ">
            <div class="col-sm-1">

            </div>
            <div class="col-sm-2">
                
            </div>
            @for (i of [1, 2, 3]; track $index) {
                <div class="col-sm-2">
                    <p-togglebutton onLabel="ST" offLabel="ST" [formControlName]="'newCoachLineupST' + i" class="w-24"/>
                </div>
            }
            <div class="col-sm-2">
                
            </div>
            <div class="col-sm-1">

            </div>
        </div>

        <div class="row mt-1 mb-1 gx-3 gy-2 align-items-center justify-content-center ">
            <div class="col-sm-1">

            </div>
            <div class="col-sm-2">
                <p-inputgroup>
                    <p-togglebutton onLabel="LW" offLabel="LW" formControlName="newCoachLineupLW" class="w-24"/>
                </p-inputgroup>
            </div>
            @for (i of [1, 2, 3]; track $index) {
                <div class="col-sm-2">
                    <p-inputgroup>
                        <p-togglebutton onLabel="CAM" offLabel="CAM" [formControlName]="'newCoachLineupCAM' + i" class="w-24"/>
                    </p-inputgroup>
                </div>
            }
            <div class="col-sm-2">
                <p-inputgroup>
                    <p-togglebutton onLabel="RW" offLabel="RW" formControlName="newCoachLineupRW" class="w-24"/>
                </p-inputgroup>
            </div>
            <div class="col-sm-1">

            </div>
        </div>

        <div class="row mt-1 mb-1 gx-3 gy-2 align-items-center justify-content-center ">
            <div class="col-sm-1">

            </div>
            <div class="col-sm-2">
                <p-inputgroup>
                    <p-togglebutton onLabel="LM" offLabel="LM" formControlName="newCoachLineupLM" class="w-24"/>
                </p-inputgroup>
            </div>
            @for (i of [1, 2, 3]; track $index) {
                <div class="col-sm-2">
                    <p-inputgroup>
                        <p-togglebutton onLabel="CM" offLabel="CM" [formControlName]="'newCoachLineupCM' + i" class="w-24"/>
                    </p-inputgroup>
                </div>
            }
            <div class="col-sm-2">
                <p-inputgroup>
                    <p-togglebutton onLabel="RM" offLabel="RM" formControlName="newCoachLineupRM" class="w-24"/>
                </p-inputgroup> 
            </div>
            <div class="col-sm-1">

            </div>
        </div>

        <div class="row mt-1 mb-1 gx-3 gy-2 align-items-center justify-content-center ">
            <div class="col-sm-1">

            </div>
            <div class="col-sm-2">
                <p-inputgroup>
                    <p-togglebutton onLabel="LWB" offLabel="LWB" formControlName="newCoachLineupLWB" class="w-24"/>
                </p-inputgroup>
            </div>
            @for (i of [1, 2, 3]; track $index) {
                <div class="col-sm-2">
                    <p-inputgroup>
                        <p-togglebutton onLabel="CDM" offLabel="CDM" [formControlName]="'newCoachLineupCDM' + i" class="w-24"/>
                    </p-inputgroup>
                </div>
            }
            <div class="col-sm-2">
                <p-inputgroup>
                    <p-togglebutton onLabel="RWB" offLabel="RWB" formControlName="newCoachLineupRWB" class="w-24"/>
                </p-inputgroup>
            </div>
            <div class="col-sm-1">

            </div>
        </div>

        <div class="row mt-1 mb-1 gx-3 gy-2 align-items-center justify-content-center ">
            <div class="col-sm-1">

            </div>
            <div class="col-sm-2">
                <p-inputgroup>
                    <p-togglebutton onLabel="LB" offLabel="LB" formControlName="newCoachLineupLB" class="w-24"/>
                </p-inputgroup>
            </div>
            @for (i of [1, 2, 3]; track $index) {
                <div class="col-sm-2">
                    <p-inputgroup>
                        <p-togglebutton onLabel="CB" offLabel="CB" [formControlName]="'newCoachLineupCB' + i" class="w-24"/>
                    </p-inputgroup>
                </div>
            }
            <div class="col-sm-2">
                <p-inputgroup>
                    <p-togglebutton onLabel="RB" offLabel="RB" formControlName="newCoachLineupRB"  class="w-24"/>
                </p-inputgroup>
            </div>
            <div class="col-sm-1">

            </div>
        </div>

        <div class="row mt-1 mb-1 gx-3 gy-2 align-items-center justify-content-center ">
            <div class="col-sm-1">

            </div>
            @for (i of [1, 2]; track $index) {
                <div class="col-sm-2">
                    
                </div>
            }
            <div class="col-sm-2">
                <p-inputgroup>
                    <p-togglebutton onLabel="GK" offLabel="GK" formControlName="newCoachLineupGK" class="w-24" [disabled]="true"/>
                </p-inputgroup>
            </div>
            @for (i of [1, 2]; track $index) {
                <div class="col-sm-2">
                    
                </div>
            }
            <div class="col-sm-1">

            </div>
        </div>
    @if(addCoachLineupForm.errors?.['exactElevenPositions'] && addCoachLineupForm.touched) {
        <div class="mt-2 text-center">
            <small class="text-danger">
                The Lineup must consist of exactly 11 players. 
                Currently selected: {{ addCoachLineupForm.errors?.['exactElevenPositions'].currentCount }}.
            </small>
        </div>
    }
    </p-panel>

</form>