<form class="row mt-3 gx-3 gy-2 align-items-center justify-content-center" [formGroup]="addclubform" (ngSubmit)="$event.preventDefault(); addNewClub()">
  <div class="col-sm-3">
    <input type="text" name="new-footballer-text" class="form-control" formControlName="newClubName" placeholder="Enter club name" />
    @if (addclubform.get('newClubName')?.invalid && addclubform.get('newClubName')?.touched) {
      <small class="text-danger">Club name is required.</small>
    }
  </div>
  <div class="col-sm-3">
    <input type="text" name="new-footballer-lastname" class="form-control" formControlName="newClubLocation" placeholder="Enter club location" />
    @if (addclubform.get('newClubLocation')?.invalid && addclubform.get('newClubLocation')?.touched) {
      <small class="text-danger">Location is required.</small>
    }
  </div>
  <div class="col-sm-3">
    <select class="form-select" aria-label="Default select example" formControlName="newClubLeague">
      <option value="" disabled selected>Select league</option>
      @for (league of leagues; track league) {
        <option [value]="league.id">{{ league.name }}</option>
      }
      @if (addclubform.get('newClubLeague')?.invalid && addclubform.get('newClubLeague')?.touched) {
        <small class="text-danger">League selection is required.</small>
      }
    </select>
  </div>
  <div class="col-auto">
    <button
      type="submit"
      class="btn btn-primary"
    >Add Club</button>
  </div>
</form>
